.banner {
  height: 346px;
  overflow: hidden;
  position: relative;
  margin-bottom: 7.2rem;

  &_wrapper {
    background-color: #000;
  }

  @media (max-width: 994px) {
    height: 314px;
    margin-top: 92px;
    margin-bottom: 4rem;
  }

  @media (max-width: 554px) {
    height: 180px;
  }



  &:before {
    content: '';
    background: linear-gradient(90deg, #080708 0%, #070607 46.34%, rgba(5, 3, 4, 0) 59.15%);
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    z-index: 2;

    @media (max-width: 1440px) {
      width: 35%;
    }

    @media (max-width: 994px) {
      width: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(270deg, #080708 0%, #070607 46.76%, rgba(5, 3, 4, 0) 50.94%);
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    z-index: 2;

    @media (max-width: 1440px) {
      width: 35%;
    }

    @media (max-width: 994px) {
      width: 0;
    }
    }

  &__top {
    background: linear-gradient(#000 0%, #000 24.02%, rgba(0, 0, 0, 0.44) 56.35%, rgba(0, 0, 0, 0) 90.96%);
    position: absolute;
    top: 0;
    height: 140px;
    width: 100%;
    z-index: 14;

    @media (max-width: 994px) {
      height: 70px;
    }

    @media (max-width: 554px) {
      display: none;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 0;

    @media (max-width: 994px) {
      span {
        height: 314px !important;
        min-width: 100% !important;
      }
    }

    @media (max-width: 554px) {
      height: 186px;

      span {
        height: 186px !important;
      }
    }
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding-top: 4rem;
    @media (max-width: 994px) {
      padding-top: 0;
      text-align: center;
    }

    @media (max-width: 768px) {
      padding-bottom: 2rem;
    }

    @media (max-width: 554px) {
      padding-top: 2rem;
    }

    h1 {
      font-weight: 700;
      font-size: 5.5rem;
      line-height: 63px;
      color: var(--color-white);
      text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      max-width: 350px;
      text-align: center;


      @media (max-width: 1280px) {
        font-size: 5rem;
      }

      @media (max-width: 768px) {
        font-size: 4rem;
        line-height: 40px;
        padding: 0 2rem;
        max-width: 250px;
      }

      @media (max-width: 554px) {
        font-size: 3rem;
        line-height: 30px;
      }
    }
  }
}