:root {
  // WHITE THEME
  --color-bg: '#E5E5E5';
  //--color-bg: #000;

  // FONTS
  --font-gotham-pro: 'Gotham Pro', sans-serif;
  --font-helios: 'Helios', sans-serif;

  // COLORS
  --font-color-black: #000000;
  --font-color-green: #20A735;
  --color-white: #fff;
  --color-default: #000;
  --color-title-black: #292929;
  --color-red: #BF0B0B;
  --color-dark-red: #842424;
  --color-grey: #2A2A2E;

  // CONTAINER
  --container-lg: 1400px;
  --container-md: 1184px;
  --container-sm: 768px;
}