.category {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 9.3rem;
  align-items: flex-end;
  flex-wrap: wrap;

  & > div {
    margin:  1rem 4rem;
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}